<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs')%>
    <div class="container">
      <main class="main">
        <h3>Страница не найдена</h3>
      </main>
    </div>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
