.main {
  padding: 20px 40px 50px;
  background-color: #fff;
  min-height: 75vh;
  display: flex;
  justify-content: space-between;
}
.categories {
  width: 15%;
  border-right: 1px solid rgba(31, 31, 31, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  padding-right: 30px;
  box-sizing: border-box;
}
.categories h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.categories a {
  font-size: 16px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.categories a:hover {
  border-bottom: 2px solid #f50;
  color: #000;
  /* font-weight: 600; */
}
.main-content {
  width: 75%;
  padding: 15px 30px;
  box-sizing: border-box;
}
.main-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(31, 31, 31, 0.1);
  padding: 20px;
  border-radius: 20px;
  transition: 0.15s;
}
.main-card:hover {
  background-color: #f7f7f7;
}
.main-content h3 {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.card-left {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.film-img {
  width: 20%;
}
.film-img img {
  width: 100%;
}
.film-info {
  width: 75%;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  justify-content: space-between;
  align-items: flex-start;
}
.film-info a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.film-info a:first-child {
  font-size: 18px;
  font-weight: 600;
}
.film-btn {
  cursor: pointer;
  padding: 7px 25px;
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  border-radius: 20px;
  font-weight: 600;
  transition: background 0.2s ease, transform 0.2s ease,
    -webkit-transform 0.2s ease;
}
.film-btn:hover {
  transform: scale(1.05);
}
.film-info .film-btn {
  background: linear-gradient(
    90deg,
    #ff5c4d,
    #eb469f 26.56%,
    #8341ef 75%,
    #3f68f9
  );
  color: #fff;
}
.film-btn img {
  width: 20%;
}

.card-right {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.film-rate {
  width: 15%;
  padding-top: 15px;
}
.film-rate p {
  font-size: 18px;
  color: #3bb33b;
  font-weight: 700;
}
.card-right .film-btn {
  width: 50%;
}
